S3method(BkpInfo, profileCGH)
S3method(CheckData, profileCGH)
S3method(MoveBkp, profileCGH)
S3method(MoveBkpStep, profileCGH)
S3method(OutliersGNL, profileCGH)
S3method(affectationGNL, profileCGH)
S3method(arrayPersp, arrayCGH)
S3method(arrayPersp, default)
S3method(arrayPlot, arrayCGH)
S3method(arrayPlot, default)
S3method(as.data.frame, profileCGH)
S3method(as.profileCGH, data.frame)
S3method(chrBreakpoints, profileCGH)
S3method(clusterglad, hclust)
S3method(daglad, profileCGH)
S3method(detectOutliers, profileChr)
S3method(filterBkp, profileCGH)
S3method(filterBkpStep, profileCGH)
S3method(findCluster, profileChr)
S3method(glad, profileCGH)
S3method(loopRemove, profileChr)
S3method(plotCytoBand, default)
S3method(plotProfile, profileCGH)
S3method(removeBreakpoints, profileChr)
S3method(removeLevel, profileChr)
S3method(testBkpToMove, profileCGH)

importFrom("grDevices", "col2rgb", "dev.cur", "heat.colors", "rgb")
importFrom("graphics", "abline", "arrows", "axis", "box", "image",
           "layout", "lines", "par", "persp", "plot", "symbols")
importFrom("stats", "IQR", "aggregate", "as.dist", "cutree", "median",
             "na.omit", "pnorm", "qchisq", "qnorm", "var")

exportPattern("^[[:alpha:]]+")
useDynLib("GLAD")
